<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastro</title>
</head>
<body>
    <form method="POST" action="/funcionario/salvar">
        <label for="">Nome:</label>
        <input type="text" name="Nome">

        <label for="">Login</label>
        <input type="text" name="Login">

        <label for="">Senha:</label>
        <input type="text" name="Senha">

        <button type="submit">Salvar</button>
    </form>
</body>
</html>